<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.javalab.board.repository.MemberVoMapper">

    <!-- 전체 회원 목록 조회 -->
    <select id="selectAllMembers" resultType="com.javalab.board.vo.MemberVo">
        SELECT MEMBER_ID, PASSWORD, PASSWORD_CONFIRM, NAME, BIRTH, TEL, EMAIL, ADDRESS, POINT
        FROM MEMBER
    </select>

    <!-- 회원 ID로 특정 회원 조회 -->
    <select id="selectMemberById" parameterType="String" resultType="com.javalab.board.vo.MemberVo">
        SELECT MEMBER_ID, PASSWORD, PASSWORD_CONFIRM, NAME, BIRTH, TEL, EMAIL, ADDRESS, POINT
        FROM MEMBER
        WHERE MEMBER_ID = #{memberId}
    </select>

    <!-- 새 회원 추가 -->
    <insert id="insertMember" parameterType="com.javalab.board.vo.MemberVo">
        INSERT INTO MEMBER (MEMBER_ID, PASSWORD, PASSWORD_CONFIRM, NAME, BIRTH, TEL, EMAIL, ADDRESS, POINT)
        VALUES (#{memberId}, #{password}, #{passwordConfirm}, #{name}, #{birth}, #{tel}, #{email}, #{address}, #{point})
    </insert>

    <!-- 회원 정보 수정 -->
    <update id="updateMember" parameterType="com.javalab.board.vo.MemberVo">
        UPDATE MEMBER
        SET PASSWORD = #{password},
        PASSWORD_CONFIRM = #{passwordConfirm},
        NAME = #{name},
        BIRTH = #{birth},
        TEL = #{tel},
        EMAIL = #{email},
        ADDRESS = #{address},
        POINT = #{point}
        WHERE MEMBER_ID = #{memberId}
    </update>

    <!-- 회원 삭제 -->
    <delete id="deleteMember" parameterType="String">
        DELETE FROM MEMBER WHERE MEMBER_ID = #{memberId}
    </delete>

</mapper>
